@page
@model WebApplication.Pages.UserCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    <p>
        Search by display name: <input class="form-control" type="text" asp-for="SearchString" />
        <br />
        <input class="btn btn-primary" type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Display name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User) {
            <tr>
                <td>
                    @(item.LastName + " " + item.FirstName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="flex">
  <ul class="col-6 pagination">
    <a class="page-item" href="/user?p=@(Model.CurrentPage - 1)">
        Previous
    </a>
    <div class="px-2 page-item">
        @Model.CurrentPage / @Model.TotalPage pages
    </div>
    <a class="page-item" href="/user?p=@(Model.CurrentPage + 1)">
        Next
    </a>
  </ul>
</div>