@page
@model WebApplication.Pages.Areas.Customers.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ResolvedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].PreferredLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Timeline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].IsAllowedPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAllowedPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
